.card {
  width: 300px;
  height: 350px;
  padding: 16px;
  background-color: #cccccc;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.card h2 {
  text-align: center;
}
